.container {
    max-width: 120rem;
    margin: 8rem auto;
    background-color: var(--color-grey-light-1);
    box-shadow: var(--shadow-dark);
    display: flex;
    flex-direction: column;
    align-items: center;

    @media only screen and (max-width: $bp-largest) {
        margin: 0;
        max-width: 100%;
        width: 100%;
    }
    
}

.header {
    font-size: 1.4rem;
    width: 100%;
    height: 7rem;
    background-color:white;
    border-bottom: 1px solid var(--color-grey-light-2);

    display: flex;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: $bp-smallest) {
        height: 11rem;
        align-content: space-around;
        flex-wrap: wrap;
    }
}

.content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-grow: 1;

    @media only screen and (max-width: $bp-medium) {
        flex-direction: column;
    }

}

.sidebar {
    background-color: var(--color-grey-dark-1);
    flex: 0 0 18%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: sticky;
    top: 0;
    z-index: 2;
}

.hotel-view {
    background-color: white;
    flex: 1;
}

.detail {
    font-size: 1.4rem;
    display: flex;
    padding: 4.5rem;
    background-color: var(--color-grey-light-1);
    margin-bottom: var(--line);

    @media only screen and (max-width: $bp-medium) {
        padding: 3rem;
    }

    @media only screen and (max-width: $bp-small) {
        flex-direction: column;
        align-items: center;
    }

    @media only screen and (max-width: $bp-smallest) {
        padding: 1.5rem;
    }
}

.description {
    background-color: white;
    box-shadow: 0 2rem 5rem rgba($color: #000000, $alpha: .06);
    padding: 3rem;
    flex: 0 0 60%;
    margin-right: 4.5rem;

    @media only screen and (max-width: $bp-medium) {
        padding: 2rem;
        margin-right: 3rem;
    }

    @media only screen and (max-width: $bp-small) {
        margin-right: 0;
        margin-bottom: 3rem;
    }
}

.user-reviews {
    flex: 1;
    
    display: flex;
    flex-direction: column;
    align-items: center;


}